# Handle line endings automatically for files detected as text and leave all
# files detected as binary untouched.
* text=auto


# These files are text and should be normalized
# (Convert crlf => lf)
*.java text
*.md text
*.properties text
*.xml text
*.yml text


# These files are binary and should be left untouched
# (binary is a macro for -text -diff)


# Windows
*.cmd text eol=crlf


# Unix/Linux
mvnw text eol=lf


# LFS

